<ion-view title="Dashboard" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="false" class="has-header">
    <div>
      <div class="card ">
      <h3 class="middle">Your Totals {{noe}}</h3>
      </div>
      <hr>
      <div class="card lightblue">

      <div class="list">

        <div class="item item-divider">
          Your Account
        </div>
        <div class="list">

          <a class="item item-icon-left" href="#">
            <i class="icon ion-cash"></i>
            Available Total
            <span class="badge badge-balanced">$ 5683.00</span>
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-card"></i>
            Spending Card
            <span class="badge badge-balanced">$ 560.49</span>
          </a>

        </div>
      </div>
      </div>

    </div>
    <div>
      <div class="list">
        <div class="item item-divider">
          BBVA

          <div class="list">
            <a class="item item-icon-left" href="#">
              <i class="icon ion-cash"></i>

              <p>Checking</p>
              XXXX 8455
                            <span class="item-note">
                                $ 689.34
                            </span>
            </a>
            <div class="list">
              <a class="item item-icon-left" href="#">
                <i class="icon ion-cash"></i>
                <p>Savings</p>
                XXXX 9542
                                <span class="item-note">
                                    $ 853.00
                                </span>
              </a>
              <a class="item item-icon-left" href="#">
                <i class="icon ion-cash"></i>

                <p>Credit Card</p>
                XXXX 8455
                                <span class="item-note">
                                    $ 689.34
                                </span>

              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="list">
        <div class="item item-divider">
          Bank of america

          <div class="list">
            <a class="item item-icon-left" href="#">
              <i class="icon ion-cash"></i>

              <p>Checking</p>
              XXXX 8455
                            <span class="item-note">
                                $ 689.34
                            </span>
            </a>
            <div class="list">
              <a class="item item-icon-left" href="#">
                <i class="icon ion-cash"></i>
                <p>Savings</p>
                XXXX 9542
                                <span class="item-note">
                                    $ 853.00
                                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align:center;">
      <img src="img/Eh5Yqo7UTi6hUJ7D92iF_Screen Shot 2016-04-16 at 23.15.18.png" width="100%" height="auto">
    </div>
    <div>
      <div class="list">

        <div class="item item-divider">
          Recent Transactions
        </div>

        <div class="list">

          <a class="item item-icon-left" href="#">
            <i class="icon ion-cash"></i>
            U-Haul
                        <span class="item-note">
                            $ 56.87
                        </span>
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-cash"></i>
            U-Haul
                        <span class="item-note">
                            $ 56.87
                        </span>
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-cash"></i>
            U-Haul
                        <span class="item-note">
                            $ 56.87
                        </span>
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-cash"></i>
            U-Haul
                        <span class="item-note">
                            $ 56.87
                        </span>
          </a>



        </div>

      </div>
    </div>
    <div>
      <div class="item item-divider">
        Transaction Categorization
      </div>
    </div>
    <div style="text-align:center;">
      <img src="img/37bABqDQR2ezIKF4kK4c_Screen Shot 2016-04-16 at 23.24.10.png" width="100%" height="auto">
    </div>
  </ion-content>
</ion-view>
